<div class="dashboard">   
	<div class="controls">
<!--	<div id="start" x-mojo-touch-feedback="immediate" class="control-button start"></div>
		<div id="close" x-mojo-touch-feedback="immediate" class="control-button close"></div> -->
		<div id="lock" x-mojo-touch-feedback="immediate" class="control-button lock"></div>
	</div>
	
	<div class="palm-dashboard-text-container">
		<div id="mode-name" class="dashboard-title"></div>
		<div id="mode-state" class="palm-dashboard-text"></div>
	</div>
</div>

