<div class="palm-row multi-line no-divider">
	<div class="palm-row-wrapper">
	
		<div class="palm-group">
			<div class="palm-group-title">#{name}</div>	

			<div class="palm-list">
				<div class='palm-row single'>
					<div class="palm-row-wrapper">
						<div class='textfield-group' x-mojo-focus-highlight="true">
							<div class="title">
								<div name="ParamsText" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="min-height:3px;"> </div>
		
	</div>
</div>
